<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <!-- responsive favicons: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://kommunisterna.org/sites/all/themes/responsive/images/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="https://kommunisterna.org/sites/all/themes/responsive/images/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png"
    href="https://kommunisterna.org/sites/all/themes/responsive/images/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png"
    href="https://kommunisterna.org/sites/all/themes/responsive/images/favicon/favicon-16x16.png" sizes="16x16" />
  <title>
    {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{
    site.title }}{% endif %}
  </title>
  {% seo %}

  <style>
    @import url("/assets/styles/fonts.css");
    @import url("/assets/styles/main.css");
  </style>
</head>

<body>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Hoppa till huvudinnehåll</a>
  </div>
  <div class="topbar">
    <div class="topbar-inner">
      <span class="party">
        <a href="{{ '/' | relative_url }}">
          <img src="/assets/media/flagga.svg" alt="Kommunistiska Partiet" />
          <span>{{ site.title }}</span>
        </a>
      </span>
      <nav class="nav">
        <a href="#har-staller-vi-upp">Här ställer vi upp</a>
        <a href="#viktigaste-fragor">Våra frågor</a>
        <a href="#a-o">Politik A–Ö</a>
        <a href="#stod-oss">Stöd oss</a>
        <a href="https://kommunisterna.org">Kommunistiska Partiet</a>
        <a href="https://kommunisterna.org/kontakt">Kontakta oss</a>
        <a href="https://proletaren.se">Proletären</a>
      </nav>
    </div>
  </div>

  <a id="main-content"></a>

  {{ content }}

  <footer>
    <div class="inner">
      <img class="foot-flag"
        src="/assets/media/flagga.svg"
        alt="Kommunistiska Partiet" />
      <p class="foot-line"><em>Postadress:</em> Box 31 187, 400 32 Göteborg &nbsp;-&nbsp; <em>Besöksadress:</em> Fjärde
        Långgatan 8, Göteborg</p>
      <p class="foot-line"><em>Tel:</em> 031-12 26 31 &nbsp;-&nbsp; <em>E-post:</em> <a href="mailto:info@kommunisterna.org">info@kommunisterna.org</a></p>
      <p class="foot-more"><a href="https://kommunisterna.org/kontakt">Fler kontaktuppgifter till kommunisterna</a></p>
    </div>
  </footer>
</body>

</html>
