---
layout: default
---

<div id="page-wrapper-row1">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <h2>Kommuner</h2>
    </div>
  </div>
</div>

<div id="page-wrapper-row2">
  <div id="page" class="grid grid-pad">
    {% assign ordered_cities = site.cities | sort:"title" %}
    {% for city in ordered_cities %}
    <a class="col-4-12 no-text-decoration" href="{{ city.url | relative_url }}">
      <div class="block">
        <div class="content">
          <h2>{{ city.title }}</h2>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
